# OS
.DS_Store

# Editors/IDE
.vscode/
.idea/

# Go
bin/
tmp/
*.exe
*.test
*.out
coverage/
profile.out

# Air
tmp/

# Frontend / Node
node_modules/
dist/
build/
.cache/
coverage/

# Env files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker overrides
docker-compose.override.yml

# Logs
*.log
logs/